<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <img src="{{url_for('static', filename='image.png')}}" alt="faz o l">
    <ul>
        <li>
            <a href="/primeiro">1º Período</a>
        </li>
        <li>
            <a href="/segundo">2º Período</a>
        </li>
        <li>
            <a href="/terceiro">3º Período</a>
        </li>
        <li>
            <a href="/quarto">4º Período</a>
        </li>
    </ul>
</body>
</html>