<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Manutenção de Computadores</li>
        <li>Redes de Computadores</li>
        <li>Sistemas Operacionais</li>
        <li>Arquitetura de Computadores</li>
    </ul>
    <button>
        <a href="/">Voltar</a>
    </button>
</body>
</html>